<div class="centerContainer">
    <div class="centerItem">
    <h2>Your Dashboard</h2>
    <h4><a class="blueLink" href="/health/edit/{{dashboardData.healthId}}">Health </a>{{dashboardData.healthLevel}}</h4>
    <h4><a class="blueLink" href="/work/edit/{{dashboardData.workId}}">Work </a>{{dashboardData.workLevel}}</h4>
    <h4 class="blueLink">Play</h4>
    <h4 class="blueLink">Love</h4>
    <a class="deleteButton" href="/user/delete/{{dashboardData.id}}">Delete Account</a>
    </div>
</div>